H1 {
    text-align: left;
    color: green;
    font-family: sans-serif;
    font-style: normal;
    font-size: 60pt;
}

H6 {
  text-align: center;
  color: red;
  font-family: serif;
  font-size: 40pt;

}
